# Ignore Visual Studio & VS Code specific files
.vs/
.vscode/

# Ignore build output
bin/
obj/
Debug/
Release/

# Ignore temporary files
*.log
*.cache
*.tmp

# Ignore NuGet packages
packages/

# Ignore generated code
Generated_Code/

# Ignore publish artifacts
publish/

